@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf) format ('opentype');
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf) format('opentype');

}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format('opentype');
}